input[type=checkbox] {
    pointer-events: fill !important;
}

sup {
    font-family: Consolas !important;
}

a {
    font-family: Consolas !important;
}

sup>a::before {
    content: none !important;
}

sup>a::after {
    content: none !important;
}