input[type=checkbox] {
    pointer-events: fill !important;
    margin-left: 15px !important;
}

sup>a {
    font-family: Consolas !important;
}

sup>a::before {
    content: none !important;
}

sup>a::after {
    content: none !important;
}

/*space*/
sp::before {
    content: '\2003';
}

sp::after {
    content: '\2003';
}

/*shortSpace*/
ss::before {
    content: '\00a0';
}

ss::after {
    content: '\2003';
}

/*longSpace*/
ls::before {
    content: '\2003\2002';
}

ls::after {
    content: '\2003';
}

hig {
    color: lime;
}

med {
    color: orange;
}

low {
    color: crimson;
}

orange {
    color: orange;
}

mono {
    font-family: Consolas;
}